<section style="width: 60%; margin-left: 2%">
    <h1><b>Name:</b> <i>Password Generator</i></h1>
    <span><b>Description:</b><i>This application dedicated to help every user in creation of strong and trustable password.
    Thanks for randomized generation, given subsequence is hardly founded by frauds and cracked with a broot force.<br>
    Before creating a password you can choose appropriate length, ann uppercase letters, numbers and special symbols.
    Then press a button "Generate password" and copy it from block below.<br> Nice using)</i></span><br>
    <span><b>Created by: </b><i>Sheremet Anna</i></span><br>
    <span><b>Copyright: </b><i>2022 - {% now "Y" %} </i></span>
</section>