{% load static %}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<navbar>
    <div class="row justify-content-md-center mb-3 bg-primary bg-opacity-10">
        <div class="col col-5">
            <figure class="mt-3">
                <img src='{% static 'generator/media/icon.jpg' %}' alt="icon" style="width: 30px; height: 30px; border: solid black 1px" />
                <caption class="display-6 fst-italic">Password Generator</caption>
            </figure>
        </div>
        <div class="col col-5 mt-2">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active text-decoration-none" aria-current="page" href={% url 'about' %}>About</a>
                </li>
            </ul>
        </div>
    </div>
</navbar>
<h1 class="display-1 text-center text-capitalize mt-5">Password generator</h1>
<h4 class="display-4 text-center fst-italic">Choose parameters:</h4>
<form action= {% url 'password' %}>
    <div class="content text-center">
        <div class="row justify-content-md-center m-3">
            <div class="col col-2">
                <label>
                    <select name="length">
                        <option value="6">6</option>
                        <option value="8">8</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                    </select>   Length
                </label>
            </div>
           <div class="col col-2">
                <label>
                    <input type="checkbox" name="uppercase">    Uppercase
                </label>
           </div>
           <div class="col col-2">
                <label>
                    <input type="checkbox" name="numbers">  Numbers
                </label>
           </div>
           <div class="col col-2">
               <label>
                    <input type="checkbox" name="symbols">  Special symbols
                </label>
           </div>
        </div>
        <div class="row mb-3 mt-5 mb-5">
            <div class="col">
                <input class="btn btn-primary position-relative" type="submit" value="Generate Password">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-4">
                <div class="card card-body">
                    <h4>Get your password here:</h4>
                    <p>{{ password }}</p>
                </div>
            </div>
        </div>
    </div>
</form>

